{% extends "base.html" %}
{% load staticfiles %}


{% block title %}{{ post.title }} | 패스트블로그{% endblock %}

{% block content %}
  <h1>{{ post.title }}</h1>
  <p>{{ post.content }}</p>

  <h2>All Comments</h2>
  <ul id="comments" data-post-id={{ post.id }}>
  </ul>

  <form action="/posts/{{ post.id }}/comments/" method="post">
    {% csrf_token %}
    <input type="text" name="content">
    <input type="submit">
  </form>
{% endblock %}

{% block custom_script %}
<script type="text/javascript" src={% static "js/posts/detail.js" %}></script>
{% endblock %}
