{% extends "base.html" %}


{% block title %}포스트 리스트 | 패스트블로그{% endblock %}

{% block content %}
  <h1>Posts List</h1>
  <p>This is posts list page.</p>

  <ul>
    {% for post in posts %}
      <li>
        <a href="{% url "post" post.id %}">
          <img
             src="{% if post.thumbnail_image %}{{ post.thumbnail_image.url }}{% else %}http://placehold.it/200x150{% endif %}"
            alt="{{ post.title }}"
            width="200px"
            height="150px"
          />
          {{ post.title }} by @{{ post.user.username }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
